.atelier {
  --padding: 10px;

  background-color: #333;
  color: #eee;
  display: grid;
  gap: var(--padding);
  grid-template-areas: 'left right' 'title title';
  grid-template-columns: 2fr minmax(480px, 1fr);
  grid-template-rows: 1fr auto;
  height: calc(100% - var(--padding) * 2);
  padding: var(--padding);
}

@media (max-width: 768px) {
  .atelier {
    grid-template-areas: 'left' 'right' 'title';
    grid-template-columns: unset;
    grid-template-rows: 1fr 1fr auto;
  }
}

.atelier__title-bar {
  align-items: center;
  display: grid;
  grid-area: title;
  grid-template-columns: 1fr auto;
}

.atelier__title {
  color: #ccc;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: x-large;
  font-weight: 200;
  margin: 0;
  word-break: keep-all;
}

.atelier__cursor {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: flash;
  animation-timing-function: linear;
  background-color: #ccc;
  display: inline-block;
  height: 0.2em;
  margin-bottom: -0.2em;
  margin-left: 0.1em;
  width: 0.5em;
}

@keyframes flash {
  0% {
    opacity: 1;
  }

  24.9% {
    opacity: 1;
  }

  25.1% {
    opacity: 0;
  }

  74.9% {
    opacity: 0;
  }

  75.1% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.atelier__logo {
  display: grid;
}

.atelier__pane {
  background-color: Black;
  border: solid 1px #444;
  border-radius: var(--padding);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  height: 100%;
  overflow: auto;
  scrollbar-width: thin;
}

.atelier__pane--left {
  grid-area: left;
}

.atelier__pane--right {
  grid-area: right;
}

.atelier__pane--code {
  background-color: #1e1e1e;
}
