.atelier__source-code {
  display: grid;
  grid-template-areas: 'title' 'code';
  grid-template-rows: auto 1fr;
  width: 100%;
}

.atelier__source-code__title {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
  font-weight: 100;
  grid-area: title;
  margin: var(--padding);
}

.atelier__source-code__code {
  box-sizing: border-box;
  font-family: Consolas, 'Courier New', Courier, monospace;
  font-size: 16px;
  grid-area: code;
  padding: var(--padding);
  margin: 0;
}

.atelier__source-code__code--plain {
  color: #999;
}

.atelier__source-code__code--shiki {
  padding: 0;
}

.atelier__source-code__code--shiki .shiki {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: var(--padding);
}
